*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol,menu{
    list-style: none;
}

#app{
    width: 100%;
    height: 100vh;
    background: rgb(218,218,210);
background: linear-gradient(0deg, rgba(218,218,210,1) 76%, rgba(0,149,134,1) 76%);
    display: flex;
    justify-content: center;
    align-items:center ;
}


/* layout */
.container{
    width: 100%;
    height: 100%;
    
    display: flex;
}



/* Sezione contatti */

.contacts{
    display: none;
    background-color: white;
    
    
}

.contact-user{
    padding: 10px;
    opacity: 1;
    background-color: #e9e9e9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-description{
    display: flex;
    flex-direction: column
}


.contact-user img{
    max-width: 50px;
    border-radius: 555px;

}

.notify{
    padding: 20px;
    background-color: #72daf9;
    
}

.notify .description-notify i{
    padding: 5px;
    font-size: 20px;
    border-radius: 500px;
    color: #72daf9;
    background-color: white;
    
    
    
}

.search{
    
    position: relative;
    background-color: white;
    padding: 20px 25px;
}

.search input{
    margin: 0 10px;
    width: 100%;
    height: 30px;
    border: none;
    font-size: 14px;
    outline: none;
}



.search i {
    pointer-events: none;
    margin: 0 10px;
    position: absolute;
    padding-right:10px ;
    bottom: 25px;
    left: 5px;
    font-size: 18px;
}

/* Sezione chat e bonus */

.chatbox{
   display: flex;
   background-color:#d9dad4;
   flex-direction: column;
   flex-grow: 1;
   
}

.main-chat{
    flex-grow: 1;
    padding: 20px;
    background-image: url('../img/mine.jpg');
    display: flex;
    flex-direction: column;
}




.chat-user{
    display: flex;
}




.chat-green{
    align-self: flex-end;
    margin-top: 15px;
}



.chat-white,.chat-green{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 300px;
    padding: 10px;
    font-size: 0.8rem;
    background-color: #cbf9bd;
    border-radius: 10px;
}

.chat-white{
    background-color: white;
   margin-top: 15px;
}
.message{
    line-height: 1.7;
}

.modal-menu{
    background-color: white;
    display: none;
}



.chat-modal-time{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.chat-modal-time i{
    
    padding-left: 15px;
}

.chat-modal-time i:hover{

    + .modal-menu{
        background-color: white;
        position:absolute;
        display: block;
        top: 10px;
        left: 0;
    }

}

.writing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: #f3ebe8;
}

.text{
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin: 5px 15px;
    min-width: 80%;
}


.writing .text input{
    margin: 0 10px;
    width: 100%;
    height: 30px;
    border: none;
    font-size: 14px;
    outline: none;
    
}

.writing i {
    display: none;
}








.chat-icon{
    display: none;
}



@media (min-width:720px) {
   
   /* Media query sezione contatti */
    .contacts{
        display: block;
        width: 100px;

        font-size: 10px;
        overflow-y: scroll;
        
        
        
        
    }

    .contacts ul > li .contact-user{
        background-color: white;
        border-bottom:1px solid #bcc0c2;
    }

    .contacts ul > li .contact-user:hover{
        opacity: 0.75;
    }

    .contacts .contact-user .chat-user .contact-description,.time{
        display: none;
    }

    .icon,.chat-icon{
        color: #bcc0c2;
        font-size: 15px;
    }

    .contacts p{
        color:#bcc0c2;
    }

    .notify{
        display: none;
    }

    .icon{
        display: none;
    }
    
    .search{
        display: none;
    }

    /* media query sezione chatbox */
    .chat-icon{
        display: flex;
        gap: 10px;
    }

    .writing{
        padding: 0 20px;
    }

    .writing > *{
        display: inline-block;
    }

    .writing i {
        display: inline-block;
    }

    

    .chat-green,.chat-white{
        width: 400px;
    }
 
}


@media (min-width:968px) {
    .container{
        width: 90%;
        height: 90%;
        
    }

    /* media query sezione contatti */
    

    .contacts{
        width: 250px;
        
    }

   
    
    .notify{
        display: block;
    }

    .icon{
        display: flex;
        gap: 10px;
    }

    .search{
        display: block;
        border-bottom:1px solid #bcc0c2  ;
    }
    
    .contacts .contact-user .chat-user .contact-description,.time{
        display: block;
    }

    /* media query sezione chatbox */
    .chat-green,.chat-white{
        width: 500px;
    }
   
}



