<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap</title>
    <script src="https://kit.fontawesome.com/dc9fe7e924.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body id="app">

    <div class="container">
        <!-- Sezione contatti -->
        <aside class="contacts">
            <div class="contact-user">
                <img src="./img/avatar_io.jpg" alt="">
                <div class="icon">
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-arrow-rotate-right"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>

            <!-- sezione notiche -->
            <div class="notify">

                <div class="description-notify">
                    <h5><i class="fa-solid fa-bell-slash"></i>Ricevi notifiche di nuovi messaggi</h5>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>
            <!-- sezione ricerca -->
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="search">



            </div>

            <!-- lista contatti disponibili -->
            <ul>
                <li v-for="(contact,i) in contacts" @click="currentUser = i"
                    :class="contact.name.toLowerCase().includes(search.toLowerCase())   ? '':'d-none'">
                    <div class="contact-user">
                        <div class="chat-user">
                            <img :src="contact.avatar" alt="">
                            <div class="contact-description">
                                <h4>{{contact.name}}</h4>
                                <div v-if="contact.messages[contacts[i].messages.length -1] === contact.messages[-1]">
                                    <p>N.D</p>

                                </div>
                                <div v-else-if="contact.messages[contacts[i].messages.length] !== 0  ">
                                    {{contact.messages[contacts[i].messages.length -1].message}}
                                </div>
                            </div>


                            <p class="time"
                                v-if="contact.messages[contacts[i].messages.length -1] === contact.messages[-1] ">N.D.
                            </p>
                            <p class="time" v-else-if="contact.messages[contacts[i].messages.length] !== 0">
                                {{contact.messages[contacts[i].messages.length -1].date.slice(11,16)}}</p>
                        </div>
                    </div>
                </li>
                <!-- <li>
                    <div class="contact-user">
                        <div class="chat-user">
                            <img src="./img/avatar_2.jpg" alt="">
                            <div class="contact-description">
                                <h4>Fabio</h4>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
        
                            <p class="time">16:15</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="contact-user">
                        <div class="chat-user">
                            <img src="./img/avatar_3.jpg" alt="">
                            <div class="contact-description">
                                <h4>Samuele</h4>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
        
                            <p class="time">16:15</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="contact-user">
                        <div class="chat-user">
                            <img src="./img/avatar_4.jpg" alt="">
                            <div class="contact-description">
                                <h4>Alessandro B.</h4>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
        
                            <p class="time">16:15</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="contact-user">
                        <div class="chat-user">
                            <img src="./img/avatar_5.jpg" alt="">
                            <div class="contact-description">
                                <h4>Alessandro L.</h4>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
        
                            <p class="time">16:15</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="contact-user">
                        <div class="chat-user">
                            <img src="./img/avatar_6.jpg" alt="">
                            <div class="contact-description">
                                <h4>Claudia</h4>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
        
                            <p class="time">16:15</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="contact-user">
                        <div class="chat-user">
                            <img src="./img/avatar_7.jpg" alt="">
                            <div class="contact-description">
                                <h4>Federico</h4>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
        
                            <p class="time">16:15</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="contact-user">
                        <div class="chat-user">
                            <img src="./img/avatar_io.jpg" alt="">
                            <div class="contact-description">
                                <h4>Davide</h4>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
        
                            <p class="time">16:15</p>
                        </div>
                    </div>
                </li>
               -->

            </ul>




        </aside>

        <!-- Sezione chatbox -->

        <div class="chatbox">
            <!-- utente selezionato -->
            <div class="contact-user">
                <div class="chat-user">
                    <img :src="contacts[currentUser].avatar" alt="">
                    <div class="contact-description">
                        <h4>{{contacts[currentUser].name}}</h4>
                        <div >
                            <p v-if="contacts[currentUser].messages[contacts[currentUser].messages.length -1] === contacts[currentUser].messages[-1]">ultimo accesso N.D</p>
                            <p v-else-if="contacts[currentUser].messages[contacts[currentUser].messages.length] !== 0 ">
                                Ultimo accesso: {{contacts[currentUser].messages[contacts[currentUser].messages.length
                                -1].date.slice(11,16)}}</p>
                             <!-- <p v-else>
                            Ultimo accesso: {{contacts[currentUser].messages[contacts[currentUser].messages.length
                            -2].date.slice(11,16)}}</p>  -->

                        </div>
                        
                    </div>

                </div>

                <div class="chat-icon">
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>

            <!-- messaggio inviato -->
            <div class="main-chat">
                <div :class="message.status ==='sent' ? 'chat-green':'chat-white'"
                    v-for="(message,i) in contacts[currentUser].messages">
                    <div class="chat-modal-time">
                        <i class="fa-solid fa-chevron-down" @click="modalMenu(i)"></i>
                        <div class="modal-menu" :class="present[i] === false ?'d-block':''">
                            <ul>
                                <li @click="deleteMessage(i)">cancella</li>
                                <li>inoltra</li>
                                <li>segna come letto</li>
                            </ul>
                        </div>
                        <!-- BONUS -->

                        <p class="time-chat">{{message.date.slice(11,16)}}</p>
                    </div>
                    <div class="message">
                        <p>{{message.message}}</p>

                    </div>

                </div>

                <!-- messaggio ricevuto -->
                <!-- <div class="chat-white" v-for="(message,i) in contacts[currentUser].messages">
                    <div class="chat-modal-time">

                        <i class="fa-solid fa-chevron-down"></i> -->
                <!-- BONUS -->
                <!-- <div class="modal-menu">
                            <ul>
                                <li>cancella</li>
                                <li>inoltra</li>
                                <li>segna come letto</li>
                            </ul>
                        </div>
                        <p class="time-chat">16:15</p>
                    </div>
                    <div>
                        <div class="message"  >
                            <p>{{message.message}}</p>
                        </div>
                    </div>
                </div>  -->

            </div>


            <!-- Sezione scrivi messaggio -->
            <div class="writing">
                <i class="fa-regular fa-face-smile"></i>
                <div class="text">

                    <input v-model="newMessage" v-on:keyup.enter="messageElement()" type="text"
                        placeholder=" Scrivi un messaggio">


                </div>

                <i class="fa-solid fa-microphone"></i>

            </div>

        </div>

    </div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
</body>

</html>